.App {
    text-align: center;
}


.AddFood{
    color: darkred;
}
.Button {
    width: 15%;
}

.Button:hover {
    background-color: yellowgreen;
    cursor: pointer;
    box-shadow: 5px 5px 10px  #000000;
}